@font-face {
    font-family: ralethin;
    src: url(raleway-thin.woff);
    font-weight:400;
}
.top-txt {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    margin: 0;
    transition: all 0.2s;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#home-cont{
    width: 100%;
    height: 100%;
    position: fixed;
}
.home-cont-left{
    width: 20%;
    height: 100%;
    background: url('../img/img-09.png');
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    position: relative;    
    z-index: 2;
}
.home-cont-right{
    width: 80%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
}
.secc{
    width: 25%;
    height: 100%;
    float: left;
    box-shadow: 20px -3px 27px -10px rgba(0, 0, 0, 0.65), 0px -5px 8px -10px rgba(0, 0, 0, 0.36);
    position: relative;
    overflow: hidden;
}
.secc img {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    top: 0;
    transition: all .5s;
}
.top-txt{
    width: 100%;
    position: relative;
    z-index: 1;
}
.top-img {
    position: relative;
    height: 100%;
}
.top-img {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.cont-right-top,.cont-right-bot{
    width: 100%;
    height: 50%;
    float: left;
}
.top-txt img {
  position: absolute;
  z-index: 9;
  height: 100px;
}
.cont-right-top .secc:nth-child(1),.cont-right-bot .secc:nth-child(1){z-index: 4}
.cont-right-top .secc:nth-child(2),.cont-right-bot .secc:nth-child(2){z-index: 3}
.cont-right-top .secc:nth-child(3),.cont-right-bot .secc:nth-child(3){z-index: 2}
.cont-right-top .secc:nth-child(1){height: 98%; }
.cont-right-top .secc:nth-child(2){height: 98%; }
.cont-right-top .secc:nth-child(3){height: 98%; }
.cont-right-top .secc:nth-child(4){height: 98%; }
.secc:hover .top-img a img{
top: -100%;  
}
.view-prof{
    width: 100%;
    height: 5%;
    background-color: #31B2D0;
}
.prof-img{
    width: 10%;
    float: left;
    text-align: left;
}
.prof-txt{
    width: 90%;
    float: left;
    text-align: left;
    color: #fff;
    font-family: 
}