@media screen and (max-width: 1280px){
.prof-cont span {
  width: 98%;
  padding: 5% 1%;
font-size:0.95em;
}
.bnt-memb {
  width: 80%;
  margin: 0 10%;
}
.info-carrerasinternas {
  width: 70%;
  margin: 3% 15% 0 15%;
}
.info-perfiles {
  width: 80%;
  margin: 5% 10% 0 10%;

}
	}
@media screen and (max-width: 1024px) {
body {
	line-height: 1.2em;
	font-size:0.9em;
}
}
@media screen and (max-width: 960px) {
.cont-registraperfil {
  width: 88%;
  margin: 5% 5% 0 5%;
  padding: 2% 1%;
}
.info-carrerasinternas {
  width: 90%;
  margin: 5% 5% 0 5%;
}
.cont-iniciarsesion {
  width: 60%;
  margin: 15% 15% 0 15%;
  padding: 2% 5%;
}
.info-perfiles {
  width: 90%;
  margin: 5% 5% 0 5%;
}
.links-perfil {
  width: 80%;
}
}
@media screen and (max-width: 680px) {
.home-cont {
  position: absolute;
}
.home-cont-left {
  width: 30%;
  position:fixed;
}
.bnt-memb {
  width: 90%;
  margin: 0 5%;
}
.prof-cont span {
  width: 90%;
  padding: 3% 5%;
}
.btn-iseccion {
  width: 90%;
  margin: 2% 5%;
}
.home-cont-right {
  width: 70%;
  margin:0 0 0 30%;
}
.cont-registraperfil input[type="text"] {
  width: 57%;
}
.cont-registraperfil label {
  font-size: 0.8em;
}
.footer-int {
	font-size:0.7em;
	}
.cont-carrerasinternas {
  width: 90%;
  margin: 5% 5% 0 5%;
}	
.info-carrerasinternas {
  width: 90%;
 margin: 6% 5% 5% 5%;
}
.home-cont {
  height: auto;
}
.infor-carrera {
  max-height: none;
   overflow-y: hidden;
     width: 94%;
  margin: 2% 3% 2% 3%;
}
.logo-int {
  width: 13%;
}
.btn-volverm {
  margin: 0 0 0 18%;
}
.footer-int {
  width: 100%;
  position: relative;
  float: left;
}
.info-perfiles {
  width: 90%;
  margin: 5%;
}
}
@media screen and (max-width: 630px) {
.home-cont-left {
  width: 100%;
  height:auto;
  position: relative;
}
.view-prof {
  height: 36px;
}
.prof-img {
  width: 5% !important;
  margin: 0.5% 0 0 3%;
}
.prof-txt {
  margin: 2% 0 0 2%;
}
.prof-cont {
  width: 98%;
  padding: 0 1%;
}
.prof-cont img{
  width: 25%;
  float:left;
}
.prof-cont span {
  width: 75%;
  padding: 1% 0;
}
.bnt-memb {
  padding: 1% 0;
}
.prof-cont ul {
  display:none;
}
.cierre-inf {
  position: relative;
  float: left;
}
.home-cont-right {
  width: 100%;
  margin: 0;
  height: 80%;
}
.cont-iniciarsesion {
  width: 86%;
  margin: 8% 2% 8% 2%;
  padding: 2% 5%;
}
.cierre-inf{
	display:none;
	}
.links-perfil {
  width: 100%;
}	
.infor-ma {
  width: 28%;
  padding: 5px 1%;
}
.infor-actual {
  width: 68%;
  padding: 5px 1%;
}
.infor-cambiar {
  width: 68%;
  padding: 5px 1%;
  margin: 0 0 0 30%;
}
.campos {
  padding: 1% 0;
  outline: 1px solid #000;
}
.info-perfiles {
  width: 98%;
  margin: 5% 1%;
}
#mi-perfil, #mis-inscripciones, #historial-carreras {
  max-height:none;
}
.info-perfiles h1 {
  font-size: 1.2em;
}
#info-carrera {
  max-height: none;
  overflow-y: hidden;
}
}
@media screen and (max-width: 400px) and (orientation : portrait) {
.prof-img {
  width: 8% !important;
  margin: 1.5% 0 0 3%;
}
.home-cont-left {
  width: 100%;
  height: auto;
  position: relative;
}
.home-cont-right {
  height: auto;
}
.view-prof {
  float: left;
}
.cierre-inf {
  position: relative;
}
.home-cont-right {
  width: 100%;
  margin: 0;
}
.secc {
  width: 50%;
}
.cont-registraperfil {
  width: 94%;
  margin: 5% 2%;
  padding: 2% 1%;
}
.img-bn{
	display:none;
	}
.prof-cont img {
  width: 70%;
  margin:0 15%;
  float: left;
}	
.prof-cont span {
  width: 90%;
  padding: 1% 5%;
}
.bnt-memb {
  width: 90%;
  padding: 4% 0;
  margin: 2% 5%;

}
.info-carrerasinternas {
  width: 98%;
  margin: 6% 1% 5% 1%;
}
.header-infcarreras {
  width: 96%;
  float: left;
  margin: 1% 2% 1% 2%;
  border-right: none;
}
.link-infcarreras {
  width: 80%;
  margin: 0 10%;
}
.info-perfiles {
  width: 98%;
  margin: 5% 1%;
}
.links-perfil a:link, .links-perfil a:visited {
  width: 100%;
  margin: 0.5% 0%;
}
.esc-tabla{
	display:none;
	}
.tit-competencias span {
  width: 100%;
  float: left;
  margin: 6px 0 0 0;
}
.tit-competencias label {
  width: 30%;
  margin: 10px 2% 0 0;
}	
.tit-competencias select {
  width: 68%;
  float: left;
  padding: 5px 0;
  margin: 8px 0 0 0;
}
.cont-galeria {
  width: 100%;
  margin: 0 0%;
}
#cont-carreras {
  width: 80%;
}
#flechaL, #flechaR {
  width: 10%;
  margin: 55% 0 0 0;
}
  }
@media screen and (max-width: 360px) and (orientation : portrait) {
.logo-int {
  width: 15%;
  left:1%;
}
}